.idea/
__pycache__/
data/
quran.xlsx
001.mp3
003.mp3
Qari Alaa Aqil Surah Al Fatiha  Best Quran Voice   سورة الفاتحة القارئ علاء عقل.mp3
Shaykh Ismail Al Qadi - Quran Recitation - Muhsen Benefit Dinner 2015.mp3
feedforwardnet.pth